.ofertas{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.planosofertas h1{
    font-size: 4rem;
    color: rgb(0, 2, 121);
}

.oferta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.cardpromo{
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem;
    border: 1px solid #ffffff00;
    border-radius: 1rem;
    padding: 2rem 1rem;
    background-color: rgb(252, 252, 252);
    color: rgb(0, 4, 255);
    -webkit-box-shadow: 2px 3px 23px -2px rgba(230,100,0,1);
    -moz-box-shadow: 2px 3px 23px -2px rgba(230,100,0,1);
    box-shadow: 2px 3px 23px -2px rgba(230,100,0,1);
    cursor: pointer;
}

.container{
    display: flex;
    gap: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ancoraWhats{
    width: 20rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    background-color: rgb(238, 95, 0);
    cursor: pointer;
    margin: 2rem 0rem;
}

.ancoraWhats a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.cardpromo:hover{
    -webkit-box-shadow: 2px 3px 33px -2px rgba(230,100,0,1);
    -moz-box-shadow: 2px 3px 33px -2px rgba(230,100,0,1);
    box-shadow: 2px 3px 33px -2px rgba(230,100,0,1);
}

.velocidade h1{
    font-size: 4rem;
    color: orangered;
}

.promoferta {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: rgb(0, 4, 255);
}

.icons{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icons p{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.valor{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 0rem;
}

.valormes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.valormes h1{
    font-size: 2rem;
}

.beneficios{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.beneficios p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .oferta {
        flex-direction: column; 
        width: 100%; 
    }
    .cardpromo{
        width: 90%; 
    }

}

@media screen and (max-width: 768px) {
    .oferta {
        flex-direction: column;
        width: 100%;
    }
    .cardpromo{
        width: 90%; 
        margin: 0rem 4rem;
    }
    .valormes h1{
        font-size: 1rem;
    }

    .planosofertas h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 480px) {
    .container{
        display: flex;
        gap: 0.5rem;
    }

    .planosofertas h1{
        font-size: 3rem;
    }

    .planosofertas {
        margin-bottom: 1rem;
    }

    .oferta {
        flex-direction: column;
        width: 100%;
    }
    .cardpromo{
        width: 90%;
        margin: 0rem 4rem;
    }
    .valor p{
        font-size: 0.8rem;
    }
    .valormes h1{
        font-size: 0.8rem;
    }
    .valormes p{
        font-size: 0.5rem;
    }
    .velocidade {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .velocidade h1{
        font-size: 2rem;
    }
    .beneficios p{
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
    }
    .icons p{
        font-size: 0.5rem;
    }

    .MdOutlineLiveTv{
        font-size: 2rem;
    }
}
